<div class="ui hidden divider"></div>
<h4 class="ui center aligned medium icon header">
  <i class="teal circular coffee icon"></i>
  Say Something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>: as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Stevie Feliciano</em>: as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Helen Troy</em>: as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Christian Rocha</em>: signed up for the  site.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
        <div class="field">
          <div class="ui fluid icon input">
          <input type="text" placeholder="Enter a message..." class="border teal">
            <i class="bordered inverted teal edit icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui fluid secondary vertical menu">
          <a class="item">
            Name 1
          </a>
          <a class="item">
            Name 2
          </a>
          <a class="item">
            Name 3
          </a>
          <a class="item">
            Name 4
          </a>
        </div>
      </div>
    </div>
  </div>
</div>